@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Ewert&family=Shrikhand&family=Spirax&display=swap');

$ewert: "Ewert", serif;
$shrikhand: "Shrikhand", serif;
$amarante: "Amarante", serif;
$spirax: "Spirax", system-ui;