@import url("https://fonts.googleapis.com/css2?family=Amarante&family=Ewert&family=Shrikhand&family=Spirax&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  background: #fffbf2;
  width: 100%;
}

.social-nav .social-nav-main {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 320px) and (max-width: 767px) {
  .social-nav .social-nav-main {
    padding-block: 10px;
  }
}
.social-nav .social-nav-main .logo {
  width: 84px;
  height: 92px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .social-nav .social-nav-main .logo {
    width: 34px;
    height: 42px;
    margin: 10px;
  }
}
.social-nav .social-nav-main ul {
  list-style-type: none;
  text-decoration: none;
  margin: 20px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 320px) and (max-width: 767px) {
  .social-nav .social-nav-main ul {
    margin: 10px;
  }
}
.social-nav .social-nav-main li {
  float: left;
}
.social-nav .social-nav-main a {
  display: block;
  color: rgb(20, 20, 20);
  padding: 16px;
  text-decoration: none;
  justify-items: center;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .social-nav .social-nav-main a {
    padding: 5px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .social-nav .social-nav-main i {
    font-size: 15px !important;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .shadow {
    height: 500px;
  }
}

.shadow h1 {
  color: rgba(197, 192, 192, 0.64);
  font-family: "Spirax", system-ui;
  font-size: 200px;
  font-style: normal;
  font-weight: 200;
  line-height: 80vh;
  padding-left: 260px;
  padding-top: 15px;
  margin: 0px;
  position: relative;
}
@media (min-width: 320px) and (max-width: 767px) {
  .shadow h1 {
    display: none;
  }
}

.banner-left {
  position: absolute;
  top: 140px;
  right: 588px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner-left {
    right: 70px;
    text-shadow: 60px -15px rgba(92, 87, 87, 0.2823529412);
  }
}

.banner-left .text-top h1 {
  color: rgb(0, 0, 0);
  font-family: "Spirax", system-ui;
  font-size: 150px;
  font-style: normal;
  font-weight: 300;
  line-height: 60vh;
  padding-left: 350px;
  padding-top: 10px;
  margin: 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner-left .text-top h1 {
    padding-left: 0;
    font-size: 80px;
    writing-mode: vertical-rl;
  }
}

.banner-right {
  position: absolute;
  top: 50px;
  right: 170px;
  z-index: 999;
}
@media (min-width: 320px) and (max-width: 767px) {
  .banner-right {
    right: 0;
    left: 40px;
  }
}

.three-model {
  height: 750px;
  width: 450px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .three-model {
    height: 600px;
    width: 300px;
  }
}

.intro-fluid {
  background-color: #161615;
  position: relative;
  width: 100%;
}

.introduction {
  margin-top: 250px;
}

.profile-photo {
  margin: auto;
  height: 300px;
  width: 300px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: -150px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .profile-photo {
    height: 200px;
    width: 200px;
  }
}

.hello {
  font-family: "Ewert", serif;
  font-size: 30px;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  padding-top: 200px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hello {
    font-size: 15px;
    padding-top: 100px;
  }
}

.im {
  font-family: "Amarante", serif;
  font-size: 20px;
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  padding-inline: 10px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .im {
    font-size: 15px;
  }
}

.reshmi {
  font-family: "Shrikhand", serif;
  font-size: 50px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .reshmi {
    font-size: 25px;
    padding-inline: 10px;
  }
}

.about {
  font-family: "Amarante", serif;
  font-size: 19px;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 767px) {
  .about {
    font-size: 11px;
    padding-inline: 10px;
  }
}

.softwares {
  padding: 40px;
  text-align: center;
}

.soft-logo {
  height: 40px;
  width: 40px;
  padding-inline-end: 10px;
  padding-bottom: 20px;
}

.pdf-download {
  width: 90%;
  text-align: center;
  padding-bottom: 50px;
  margin: auto;
}
.pdf-download .glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.pdf-download .glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.pdf-download .glow-on-hover:active {
  color: #000;
}
.pdf-download .glow-on-hover:active:after {
  background: transparent;
}
.pdf-download .glow-on-hover:hover:before {
  opacity: 1;
}
.pdf-download .glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.pdf-download button {
  margin: 20px;
  background-color: #fffefb;
  color: #000000;
  font-family: "Amarante", serif;
  font-size: 15px;
  font-weight: 200;
  padding: 10px;
  border-radius: 20px;
}

.tab-nav-fluid {
  background-color: rgba(255, 251, 242, 0.8);
}
.tab-nav-fluid .tab-nav-main {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 320px) and (max-width: 767px) {
  .tab-nav-fluid .tab-nav-main {
    padding-inline: 150px;
  }
}
.tab-nav-fluid .tab-nav-main .logo {
  width: 100px;
  height: 100px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .tab-nav-fluid .tab-nav-main .logo {
    width: 70px;
    height: 70px;
  }
}
.tab-nav-fluid .tab-nav-main .logo a {
  display: block;
  margin: 0 auto;
}
.tab-nav-fluid .tab-nav-main ul {
  list-style-type: none;
  text-decoration: none;
  margin: 20px;
  padding: 0px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .tab-nav-fluid .tab-nav-main ul {
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .tab-nav-fluid .tab-nav-main ul {
    justify-content: center;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0;
    background-color: rgba(255, 251, 242, 0.8);
  }
}
.tab-nav-fluid .tab-nav-main a {
  display: block;
  color: rgb(20, 20, 20);
  padding: 20px;
  text-decoration: none;
  justify-items: center;
  text-align: center;
}
.tab-nav-fluid .tab-nav-main a h3 {
  font-family: "Shrikhand", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 320px) and (max-width: 767px) {
  .tab-nav-fluid .tab-nav-main a h3 {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .tab-nav-fluid .tab-nav-main a {
    padding: 10px;
    align-self: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .tab-nav-fluid .tab-nav-main a {
    padding: 10px;
    align-self: center;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .tab-nav-fluid .tab-nav-main {
    margin: 0px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .tab-nav-fluid .tab-nav-main {
    margin: 0px;
    justify-content: space-between;
    align-items: center;
  }
}

.drop-main {
  position: relative;
}

.drop {
  position: absolute;
  top: 100%;
  left: 0%;
}

.cover-video {
  width: 100%;
  height: 720px;
  object-fit: cover;
}
@media (min-width: 320px) and (max-width: 767px) {
  .cover-video {
    width: 100%;
    height: 200px;
    margin-top: 60px;
  }
}

.tree-projects {
  cursor: pointer;
}

.logodisplay {
  margin-top: 70PX;
}

.gridwrapper {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  height: 50vh;
}
@media (min-width: 320px) and (max-width: 767px) {
  .gridwrapper {
    width: 100%;
    height: auto;
    display: block;
  }
}

.gridwrapper img {
  width: 300px;
  height: 200px;
  border: 2px solid #161615;
  padding: 10px;
  border-radius: 40px 0px 40px 0px;
  object-fit: cover;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  .gridwrapper img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 20%;
  border: 1px solid black;
}

.masonry-grid {
  align-items: center;
  justify-items: center;
}

.grid-container {
  width: 900px;
  height: 100vh;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 767px) {
  .grid-container {
    width: 100%;
    height: auto;
  }
}

.firstrow, .secondrow {
  display: flex;
}
@media (min-width: 320px) and (max-width: 767px) {
  .firstrow, .secondrow {
    flex-direction: column;
  }
}

.hitem, .litem {
  justify-items: center;
  object-fit: cover;
}

.hitem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.litem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hitem {
  height: 25vh;
  width: 300px;
  object-fit: cover;
}
@media (min-width: 320px) and (max-width: 767px) {
  .hitem {
    width: 100%;
    height: auto;
  }
}

.litem {
  height: 50vh;
  width: 300px;
  object-fit: cover;
}
@media (min-width: 320px) and (max-width: 767px) {
  .litem {
    width: 100%;
    height: auto;
  }
}

.column {
  align-items: center;
  object-fit: cover;
}

#lightbox {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.23);
  backdrop-filter: blur(3px);
  display: none;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: black;
  border: 2px solid white;
}

.pdf-portfolio, .telephone, .logodisplay, .advertisement {
  text-align: center;
  margin-top: 40px;
}
.pdf-portfolio h3, .telephone h3, .logodisplay h3, .advertisement h3 {
  font-family: "Ewert", serif;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}
@media (min-width: 320px) and (max-width: 767px) {
  .pdf-portfolio h3, .telephone h3, .logodisplay h3, .advertisement h3 {
    font-size: 10px;
  }
}
.pdf-portfolio p, .telephone p, .logodisplay p, .advertisement p {
  font-family: "Amarante", serif;
  font-size: 15px;
  font-weight: 200;
  color: #4b4a4a;
}
@media (min-width: 320px) and (max-width: 767px) {
  .pdf-portfolio p, .telephone p, .logodisplay p, .advertisement p {
    font-size: 5px;
  }
}

.quote {
  text-align: center;
  margin-block: 150px;
}
.quote h2 {
  font-family: "Amarante", serif;
  font-size: 25px;
  font-weight: 200;
  color: #313131;
}
@media (min-width: 320px) and (max-width: 767px) {
  .quote h2 {
    font-size: 10px;
  }
}

.footer-main .footercolor {
  background-color: #001717;
  border-radius: 40px 40px 0px 0px;
  padding-block: 100px;
}
.footer-main .footercolor .logowhite {
  width: 84px;
  height: 92px;
}

.copyright {
  text-align: center;
}
.copyright .createdby p {
  color: #FFF;
  font-family: Amarante;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*# sourceMappingURL=style.css.map */
